{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6">
            <h2>Liste des auteurs</h2>
            <ul class="list-group">
                {% for item in authorSummary %}
                    <li class="list-group-item">
                        <a href="{{ path('catalog_by_author', {'authorName':item.details.author.name}) }}">
                            {{ item.details.author.fullName }}
                        </a>
                        <span class="badge">
                        {{ item.nb }}
                    </span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Liste des tags</h2>
            <ul class="list-group">
                {% for item in tagSummary %}
                    <li class="list-group-item">
                        <a href="{{ path('catalog_by_tag', {'tag':item.tag.tagName}) }}">
                            {{ item.tag.tagName }}
                        </a>
                        <span class="badge">
                        {{ item.nb }}
                    </span>
                    </li>
                {% endfor %}
            </ul>
        </div>



    </div>
{% endblock %}
