{% extends "::base.html.twig" %}

{% block title %}AppBundle:Catalog:index{% endblock %}

{% block body %}
    <div class="col-md-10 col-md-offset-1">

        <h1>Catalogue
            {% if queryTitle is defined %}
                {{ queryTitle }}
            {% endif %}
        </h1>
        <h2>{{ numberOfBooks }} livres</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Editeur</th>
                <th class="text-right">Prix</th>
            </tr>
            </thead>

            {% for book in catalog %}
                <tr>
                    <td>
                        <a href="{{ path('catalog_details', {'id':book.id}) }}">
                            {{ book.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('catalog_by_author', {'authorName': book.author.name}) }}">
                            {{ book.author.fullName }}
                        </a>
                    </td>
                    <td>{{ book.publisher.name }}</td>
                    <td class="text-right">{{ book.price | number_format(2, ',',' ') }} €</td>
                </tr>
            {% endfor %}
        </table>

        <div class="col-md-4 col-md-offset-4">
            {% if nbOfPages is defined %}
                {% set maxPage= min(currentPage+2, nbOfPages) %}
                {% set minPage= max(currentPage-2, 1) %}

                <ul class="pagination">
                    <li>
                        <a href="{{ basePath }}/{{ max(currentPage-1, 1) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>


                    {% for page in minPage..maxPage %}
                        <li {% if page == currentPage %}
                            class="active"
                        {% endif %}
                        >
                            <a href="{{ basePath }}/{{ page }}">
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{{ basePath }}/{{ min(currentPage+1, nbOfPages) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}
